/*

アーカイブ、検索結果、404ページ

*/

.mmm-post--archive{
    border-top:1px solid lightgray;
    padding-top:1rem;
    padding-bottom:1rem;
}

.mmm-post--archive__terms{
}

.mmm-post--archive__title{
    font-size:1.5rem;
    line-height:1.2;
}

.mmm-post--archive__date{
    font-size:.8rem;
}

.mmm-post--archive__image{
}

.mmm-post--archive__image img{
}

.mmm-post--archive__text{
}

.mmm-post--archive__content{
    line-height:1.2;
}


/* 

アーカイブページネーション

*/

.mmm-pagination-archive{
    margin:1rem 0;
}
  
.mmm-pagination-archive__inner{
    width:100%;
    display:flex;
    justify-content:center;
}
  
.mmm-pagination-archive__item{
    margin-right:5px;
    margin-left:5px;
}
  
.mmm-pagination-archive__item--dots{
    margin-left:0;
    margin-right:0;
}
  
.mmm-pagination-archive__item a,
.mmm-pagination-archive__item span{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
    width:40px;
    font-weight:bold;
    border-width:1px;
    border-style:solid;
}
  
.mmm-pagination-archive__item a{
    color:#FFF;
    border-color:lightgray;
    background-color:lightgray;
}
  
.mmm-pagination-archive__item span{
    color:lightgray;
    border-color:lightgray;
    background-color:#FFF;
}
  
 .mmm-pagination-archive__item--dots span{
    border-color:transparent;
}
  
.mmm-pagination-archive__item a:hover{
    color:lightgray;
    background-color:#FFF;
}
  
.mmm-pagination-archive__item--prev a,
.mmm-pagination-archive__item--prev span,
.mmm-pagination-archive__item--next a,
.mmm-pagination-archive__item--next span{
    width:auto;
    padding:0 1em;
}

@media screen and (max-width:992px){

    .mmm-pagination-archive__inner{
        justify-content:flex-start;
    }
    
    .mmm-pagination-archive__item{
      display:none;
    }
  
    .mmm-pagination-archive__item--next,
    .mmm-pagination-archive__item--prev{
      display:inline-block;
    }
  
    .mmm-pagination-archive__item--prev{
      margin-right:auto;
      margin-left:0;
    }
  
    .mmm-pagination-archive__item--next{
      margin-left:auto;
      margin-right:0;
    }
  
}

