/*

下層ページ共通

*/


.mmm-page-title{
}


/*

パンくずリスト

*/

.mmm-breadcrumb{
}

.mmm-breadcrumb__inner{
    display:flex;
    flex-wrap:wrap;
}

.mmm-breadcrumb__item{
    flex:none;
    line-height:1.2;
}

a.mmm-breadcrumb__item--link{
    text-decoration:underline;
}

.mmm-breadcrumb__item--slash{
    margin-left:.25em;
    margin-right:.25em;
}

.mmm-breadcrumb__item--text{
}
