/*

シングルページ、固定ページ

*/

.mmm-post--single{
    display:block;
}

.mmm-post--single__terms{
}

.mmm-post--single__title{
}

.mmm-post--single__date{
}

.mmm-post--single__image{
    width:100%;
    text-align:center;
    margin-bottom:1rem;
}

.mmm-post--single__image img{
    width:auto;
    max-width:100%;
}

.mmm-post--single__content{
}

.mmm-post--single__content *{
}

/*

記事内：画像

*/

.mmm-post--single__content img{
}

.mmm-post--single__content img.aligncenter{
    display:block;
    margin:1rem auto;
}

.mmm-post--single__content img.alignleft{
    float:left;
    margin-right:1rem;
    margin-bottom:1rem;
}

.mmm-post--single__content img.alignright{
    float:right;
    margin-left:1rem;
    margin-bottom:1rem;
}

/*

記事内：タグ

*/

.mmm-post--single__content h1,
.mmm-post--single__content h2,
.mmm-post--single__content h3,
.mmm-post--single__content h4,
.mmm-post--single__content h5,
.mmm-post--single__content h6{
    clear:both;
}

.mmm-post--single__content h1{
}

.mmm-post--single__content h2{
}

.mmm-post--single__content h3{
}

.mmm-post--single__content h4{
}

.mmm-post--single__content h5{
}

.mmm-post--single__content h6{
}

.mmm-post--single__content strong{
    font-weight:bold;
}

.mmm-post--single__content b{
    font-weight:bold;
}

.mmm-post--single__content a{
    text-decoration:underline;
}

.mmm-post--single__content small{
}

.mmm-post--single__content ul{
}

.mmm-post--single__content ul li{
}

.mmm-post--single__content table{
    width:100%;
    table-layout:fixed;
    border-collapse:collapse;
}

.mmm-post--single__content table th,
.mmm-post--single__content table td{
    padding:1rem;
    line-height:1.2;
    border:1px solid lightgray;
}

.mmm-post--single__content table th{
    font-weight:bold;
    background-color:lightgray;
}

@media screen and (max-width:768px){

    .mmm-post--single__content img.aligncenter,
    .mmm-post--single__content img.alignleft,
    .mmm-post--single__content img.alignright{
        display:block;
        width:100% !important;
        max-width:none;
        margin-left:0;
        margin-right:0;
        margin-bottom:1rem;
    }

}

/*

関連記事

*/

.mmm-related-posts{
}

.mmm-related-posts__title{
    line-height:1.2;
}

.mmm-related-posts__inner{
}

.mmm-related-posts__inner .mmm-related-posts__inner{
    margin-left:1rem;
}

.mmm-related-posts__item{
}

a.mmm-related-posts__link{
    display:inline-block;
    text-decoration:underline;
}

a.mmm-related-posts__current{
    font-weight:bold;
}
