

/*

スライドショー

*/

.mmm-slider{
    position:relative;
}

.mmm-slider-btn{
  position:absolute;
  top:0;
  z-index:9998;
  width:50px;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.mmm-slider-btn--prev{
  left:0;
}

.mmm-slider-btn--next{
  right:0;
}

.mmm-slider-arrow{
  flex:none;
  display:block;
  width:30px;
  height:30px;
  border-top:2px solid lightgray;
  border-right:2px solid lightgray;
}

.mmm-slider-arrow--prev{
  transform:rotate(-135deg);
}

.mmm-slider-arrow--next{
  transform:rotate(45deg);
}

@media screen and (max-width:768px){
  .mmm-slider-arrow{
    display:none !important;
  }
}
