<div class="mmm-contactform">
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">お名前</span><span class="mmm-contactform-require">必須</span></label><div class="mmm-contactform-input">[mwform_text name="your-name" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">ふりがな</span><span class="mmm-contactform-require">必須</span></label>
<div class="mmm-contactform-input">[mwform_text name="your-kana" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">メールアドレス</span><span class="mmm-contactform-require">必須</span></label>
<div class="mmm-contactform-input">[mwform_email name="your-email" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">電話番号</span><span class="mmm-contactform-require">必須</span></label>
<div class="mmm-contactform-input">[mwform_text name="your-tel" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">郵便番号</span><span class="mmm-contactform-require">必須</span></label>
<div class="mmm-contactform-input">[mwform_text name="your-zip" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">住所</span><span class="mmm-contactform-require">必須</span></label>
<div class="mmm-contactform-input">[mwform_text name="your-address" size="60"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">セレクト</span><span class="mmm-contactform-require">必須</span></label><div class="mmm-contactform-input mmm-contactform-input--select">[mwform_select name="your-select" children=":---,1,2,3,4,その他" post_raw="true"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">ラジオ</span><span class="mmm-contactform-require">必須</span></label><div class="mmm-contactform-input">[mwform_radio name="your-radio" children="1,2" post_raw="true"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">チェックボックス</span><span class="mmm-contactform-require">必須</span></label><div class="mmm-contactform-input">[mwform_checkbox name="your-checkbox" children="1,2,3" post_raw="true"]</div>
</div>
<div class="mmm-contactform-field">
<label class="mmm-contactform-label"><span class="mmm-contactform-title">お問い合わせ内容</span></label>
<div class="mmm-contactform-input">[mwform_textarea name="your-message" cols="50" rows="5"]</div>
</div>
<div class="mmm-contactform-btns">[mwform_bconfirm name="your-confirm" class="confirm" value="confirm"]確認する[/mwform_bconfirm][mwform_bsubmit name="your-submit" class="submit" value="send"]送信する[/mwform_bsubmit][mwform_backButton class="back" value="戻る"]</div>
</div>
